<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kitchening</title>
</head>
<body>
    <header>
        <div>
            <img src="/images/logo.jpg" alt="imagen del logo">
        </div>
        <button><i class="fa-solid fa-burger-cheese"></i></button>
        <ul>
            <li><a href="#">Home</a> </li>
            <li><Quienes href="#">Quienes</a></li>
            <li><Servicios href="#">Servicios</a></li>
            <li><Porfolio href="#">Porfolio</a></li>
            <li><Sucursales href="#">Sucursales</a></li>
            <li><Contacto href="#">Contacto</a></li>
        </ul>

    </header>
    <main>
        <section>
            <article>
                <div>
                    <img src="/images/img-pdto-1.jpg" alt="">
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Parrafo</p>
                <a href=""><button>ver màs</button></a>
                
            </article>
            <article>
                <div>
                    <img src="/images/img-pdto-2.jpg" alt="">
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Parrafo</p>
                <a href=""><button>ver màs</button></a>
                
            </article>
            <article>
                <div>
                    <img src="/images/img-pdto-3.jpg" alt="">
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Parrafo</p>
                <a href=""><button>ver màs</button></a>
                
            </article>
            <article>
                <div>
                    <img src="/images/img-pdto-1.jpg" alt="">
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Parrafo</p>
                <a href=""><button>ver màs</button></a>
                
            </article>
            <article>
                <div>
                    <img src="/images/img-pdto-2.jpg" alt="">
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Parrafo</p>
                <a href=""><button>ver màs</button></a>
                
            </article>
            <article>
                <div>
                    <img src="/images/img-pdto-3.jpg" alt="">
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Parrafo</p>
                <a href=""><button>ver màs</button></a>
                
            </article>
            

        </section>

    </main>
    <footer>
        <ul>
            <li><a href="#">Home</a> </li>
            <li><Quienes href="#">Quienes</a></li>
            <li><Servicios href="#">Servicios</a></li>
            <li><Porfolio href="#">Porfolio</a></li>
            <li><Sucursales href="#">Sucursales</a></li>
            <li><Contacto href="#">Contacto</a></li>
        </ul>


    </footer>
</body>
</html>