.home main .banner{
    display: none;
}
.home main section article{
    margin: 20px 0;
    
}
.home main section .image{
    position: relative;
}
.home main section .producto{
    width: 100%;
}
.home main section .etiqueta{
    position: absolute;
    top: 0px;
    right: 15px;
}
.home main section h3{
    margin: 15px 0;
}

.home main section p{
    color: var(--colorGris);
}

.home main section a{
    display: inline-block;
    margin: 20px 0 0;
    background-color: var(--colorGris);
    /* max-width: 75px; */
    /* text-align: center; */
    padding: 10px;
    color: var(--colorBlanco);
}

.home main section .ampliar{
    display: block;
    text-align: center;
    /* opacity: 70%; */
    position: absolute;
    top: 40%;
    margin: 0;
    /* padding: 10px 165px; */
    width: 100%;
    background-color: var(--colorTransparente);
    text-transform: uppercase;
    font-weight: bold;
}

/* Tablet */

@media (min-width:460px) {
    .home main .banner{
        display: block;
        
    }
    .home main .banner img{
        width: 100%;
    }
    .home main section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .home main section article{
        width: 48%;
    }
}

@media (min-width:768px){
    .home{
        max-width: 1180px;
    }
    .home main section article{
        width: 32%;
    }
}